/* #region #app-header */
#app-header {
  height: 50px;
}
.content {
  justify-content: end;
  margin: 0.5rem;
}

.speaker_view {
  display: flex;
  gap: 0.5rem;
}

.content,
.speaker_view {
  display: flex;
  gap: 0.5rem;
}

.speaker_view,
.maximize {
  background: var(--zoom-maximaze);
  padding: 0.4rem;
  border-radius: 0.5rem;
}
/* #endregion .app-header*/

/* #region Main */
#app-main {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.card {
  position: relative;
}

.photo {
  position: relative;
}

.user {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--zoom-user-bg);
  padding: 0.4rem;
  display: flex;
  gap: 0.5em;
}

.user > .microphone,
.user > .name {
  font-size: 0.8rem;
}
/* #endregion Main */

/* #region #app-footer */
#app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--zoom-light);
  background-color: var(--zoom-footer);
  height: 70px;
}

select {
  background-color: var(--zoom-footer);
  color: var(--zoom-light);
  border: none;
  transform: rotate(180deg);
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 100%;
  margin: 1rem;
}

footer .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .icon > span {
  font-size: 0.8rem;
}

.footer-right button {
  height: 100%;
  padding: 0 1rem;
  color: var(--zoom-footer-btn);
  background: var(--zoom-bg-footer-btn);
  border: none;
}
/* #endregion #app-footer */
